{{ partial "header.html" . }} 

{{ $site := .Site }} 
{{ $data := .Data }}
<main id="terms" role="main" class="main-panel no-toc">
  <section class="container">
    <div class="inner">
      <div class="post-wrapper">
        <div class="post reveal single-content-wrapper">
          <div class="card">
            <section class="breadcrumb-wrapper">  {{ partial "breadcrumb.html" . }} </section>
            <div class="card-content">
              {{ range $key, $value := .Data.Terms.Alphabetical }}
                  <div class="chip">
                    <a class="unstyled" href='{{ $site.BaseURL }}/{{ $data.Plural }}/{{ (replace $value.Name "#" "%23") | urlize }}'>
                    {{ $value.Name }}
                    </a>
                  <sup class="tagcount">{{ $value.Count }}</sup>
                </div>           
                {{ end }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {{ partialCached "footer.html" . }}
</main>
 {{partialCached "script.html" .}}