html,
body {
  height: 100%;
  min-height: 100%;
}

body.covered {
  overflow: hidden;
}
.container {
  margin: 0 auto; // max-width: 1280px;
  width: 100%;
  padding: 0 $gutter-width;
}

@media #{$extra-large-and-up} {
  .container {
    padding: 0 $gutter-width * 1.5;
  }
}

@media #{$medium-and-down} {
  .container {
    padding: 0 $gutter-width/2;
  }
}
@media #{$small-and-down} {
  .container.container-ex {
    padding: 0;
  }
}

// main
.main-panel {
  min-height: calc(100% - #{$navbar-height});
  @media #{$small-and-down} {
    min-height: calc(100% - #{$navbar-height-mobile});
  }
  transition: all 0.2s ease-in; // padding-left: $aside-width;
  display: flex;
  overflow: hidden;
  flex-flow: column nowrap;
}

.page-content {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  .container {
    flex: 1 1 auto;
    max-width: 100%;
    .inner {
      height: 100%;
    }
  }
}
// Footer
.page-footer {
  position: relative;
  z-index: 1;
  padding-top: $gutter-width;
  color: $footer-font-color;
  background-color: $footer-bg-color;
  .wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .group {
    flex: 0 0 auto;
    &.group-slink {
      flex-basis: 66%;
    }
    &.group-flink {
      flex-basis: 34%;
    }
    @media #{$small-and-down} {
      min-width: 100%;
    }
  }
  a {
    color: $footer-link-color;
  }
  ul.slink {
    margin: $gutter-width 0;
    list-style: none;
    & > li {
      display: inline-block;
      a {
        color: #fff;
      }
      svg {
        fill: #fff;
      }
    }
  }
  .footer-copyright {
    overflow: hidden;
    min-height: 50px;
    display: flex;
    align-items: center;
    padding: 10px 0px;
    color: $footer-copyright-font-color;
    background-color: $footer-copyright-bg-color;
    @extend .light;
  }
}
.inner {
  max-width: $container-max-width;
  margin: auto;
}
