.post {
  max-width: 100%;
}

.post-summary .article {
  h1 {
    font-size: 25px;
    line-height: 1.333334em;
  }
  h2 {
    font-size: 20px;
    line-height: 1.4em;
    padding: 0;
    margin: 10px 0;
  }
  h3,
  h4 {
    font-size: 15px;
    padding: 0;
    margin: 10px 0;
  }
  // pre {
  //   padding: 0;
  //   margin: 10px 0;
  // }
}
.readmore {
  display: inline-block;
  margin-top: $gutter-width/2;
}

.post-wrapper {
  margin: 0 auto;
  position: relative;
  .post {
    .card {
      min-height: 100%;
    }
    &:not(.no-toc) {
      margin-right: 0;
      @media (min-width: $article-min-width) {
        margin-right: $toc-width;
      }
    }

    .breadcrumb-root {
      background-color: $nav-bg-color;
      .breadcrumbs {
        margin: 0;
      }
    }
    .card-header.postinfo {
      background-color: $primary-color;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      .card-title {
        color: #fff;
        font-size: 2rem;
        line-height: 1.2;
        margin: 0;
      }
      @media #{$medium-and-up} {
        min-height: 150px;
        .card-title {
          font-size: 2.5rem;
        }
      }
      .card-meta {
        font-size: 15px;
        time,
        address a {
          color: #fff;
        }
        address:before {
          display: none;
        }
      }
      .card-meta {
        margin-bottom: 0;
      }
    }
  }
}
