.splash {
  height: $splash-height-mobile;
  @media #{$medium-and-up} {
    height: $splash-height;
  }

  width: 100%;
  background-color: $secondary-color;
  position: relative;
  margin-bottom: 1.5*$gutter-width;
  @extend .z-depth-1;
  .splash-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 80%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    canvas {
      width: 100%;
      height: 100%;
    }
  }
  .splash-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    color: #fff;
    .avatar {
      width: 120px;
      height: 120px;
      @media #{$medium-and-up} {
        width: 150px;
        height: 150px;
      }
      border-radius: 50%;
      @extend .z-depth-1;
    }
    h3 {
      font-size: 2.2rem;
      @media #{$medium-and-up} {
        font-size: 2.5rem;
      }
      margin: 10px 0;
    }
    .desc {
      margin: 0;
    }
  }
}
