.toc-panel {
    position: relative;
    display:none;
    float: right;
    width: $toc-width;
    height: 100%;
    nav {
        top: $navbar-height-mobile;

        @media #{$medium-and-up} {
            top: $navbar-height;
        }
        padding-top: $breadcrumb-height;
        width: $toc-width;
        position: fixed;
    }
    nav>ul {
        margin: 0;
        margin: 0;
        font-size: 13px;
        padding: 0 $gutter-width /2;
        &>li a {
            color: $off-black;
            display: block;
            line-height: 1.5rem;
            transition: all .2s ease-in;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 100%;
            padding: 3px 10px;
            border-left: 3px solid transparent;
            &.active {
                border-left: 3px solid $primary-color;
                background-color: darken($body-bg, 5);
            }
        }
    }
}

@media(min-width: $container-min-width) {
    .toc-panel {
        display: block;
    }
}