.article {
  font-size: 16px;
  line-height: 1.7em;
  blockquote {
    margin: $gutter-width 0;
    padding: 0 10px 0 16px;
    border-left: 2px solid #3f51b5;
    color: #4d4d4d;
    background: #fafafa;
  }
  h1 {
    font-size: 30px;
    line-height: 1.333334em;
    // font-weight: bold;
    padding-bottom: 0.5em;
    margin: 0.67em 0;
  }

  h2 {
    font-size: 25px;
    // font-weight: bold;
    margin: 0.8em 0;
    line-height: 1.4em;
  }

  h3 {
    font-size: 22px;
    margin: 1em 0;
  }
  h4 {
    font-size: 20px;
    margin: 1.2em 0;
  }

  h4 {
    font-weight: 400;
    font-style: italic;
  }

  h3 a,
  h4 a,
  h5 a,
  h6 a {
    font-weight: 400;
    font-style: normal;
  }

  h1,
  h2 {
    color: #3f51b5;
  }

  h1 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }

  p {
    margin: 0;
  }
  // short code
  code:not(.hljs) {
    color: #3f51b5;
    white-space: nowrap;
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(27, 31, 35, 0.05);
    border-radius: 3px;
  }
  // code blocks
  & > pre code:not(.hljs) {
    overflow-x: auto;
    display: block;
    background: #2b303b;
    color: #c0c5c3;
    padding: 0.5em 24px;
    border-radius: 0;
  }
  kbd {
    color: #555;
    background-color: #fcfcfc;
    border: 1px solid #ccc;
    border-bottom-color: #bbb;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 -1px 0 #bbb;
    box-shadow: inset 0 -1px 0 #bbb;
  }

  a {
    color: #3f51b5;
    text-decoration: none;
    border-bottom: 1px dotted;
  }

  a:focus,
  a:hover {
    color: #3f51b5;
  }

  .headerlink {
    color: rgba(0, 0, 0, 0.26);
    border: none;
  }

  figure {
    padding: 0 1.5px;
  }

  .headerlink {
    float: right;
    margin-left: 20px;
    font-size: 18px;
  }

  h1 .headerlink {
    display: none;
  }
  ul,
  ul > li {
    list-style-type: disc;
  }
  li ul,
  li ul li {
    list-style-type: circle;
  }
  ul,
  ol {
    padding-left: 0;
    margin: 1.2em 0;
    /* list-style-position: inside; */
  }

  li,
  li ol,
  li ul {
    margin: 0.5em 0;
  }

  li {
    margin-left: 18px;
  }

  li p {
    display: inline;
  }

  p > code {
    word-break: break-all;
    word-wrap: break-word;
    padding: 2px 4px;
  }

  kbd {
    display: inline-block;
    padding: 3px 5px;
    line-height: 10px;
  }

  hr {
    margin-top: 1.5em;
  }

  img {
    max-width: 100%;
  }
  & > pre {
    margin: 0 -24px;
  }
  pre {
    padding: 10px 0;
    line-height: 1.5em;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  pre code {
    padding: 0.5em 24px;
  }

  @media #{$small-and-down} {
    pre code {
      padding-left: $card-padding-mobile;
      padding-right: $card-padding-mobile;
    }
    & > pre {
      margin-left: -$card-padding-mobile;
      margin-right: -$card-padding-mobile;
    }
  }

  table:not(.hljs-ln) {
    margin: 1.5em 0;
    font-size: 13px;
    max-width: 100%;
    display: inline-block;
    overflow: auto;
    -webkit-box-shadow: 0 1.5px 3px rgba(0, 0, 0, 0.24),
      0 3px 8px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1.5px 3px rgba(0, 0, 0, 0.24), 0 3px 8px rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    th {
      background: #3f51b5;
      color: #fff;
      min-width: 100px;
      font-size: 12px;
      text-align: left;
    }
    td {
      border-top: 1px solid rgba(0, 0, 0, 0.05);
    }
    td,
    th {
      padding: 12px 16px;
      vertical-align: top;
    }
  }

  .admonition {
    margin: 20px (-$card-padding);
    padding: 20px $card-padding;
    @media #{$small-and-down} {
      padding-left: $card-padding-mobile;
      padding-right: $card-padding-mobile;
      margin-left: -$card-padding-mobile;
      margin-right: -$card-padding-mobile;
    }
    background: $admonition-note-bcolor;
    color: #fff;
    &.warning {
      background: $admonition-warning-bcolor;
    }
    .admonition-title {
      font-size: 20px;
      i {
        margin-right: 5px;
        vertical-align: top;
      }
      margin-bottom: 10px;
    }
  }
}
