<!-- Footer Section Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">{{ .Site.Title }}</h5>
        <p class="grey-text text-lighten-4">Theme <a href="" target="_blank">YAMT</a> designed by <a href="#!">Kevin Tan</a> with ❤</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">My Friends</h5>
        <ul>
          {{ range .Site.Params.FriendLink }}
          <li><a class="grey-text text-lighten-3" href="{{.url}}" target="_blank">{{.name}}</a></li>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">{{ .Site.Params.copyright }}</div>
  </div>
</footer>
