<aside class="side-panel">
  <div class="inner">
    <div class="profile">
      <div class="profile__bg" style="background-image:url('{{ $.Site.BaseURL }}{{ .Site.Params.profile_bg }}')"></div>
      <img class="profile__avatar" src="{{ $.Site.BaseURL }}{{ .Site.Params.logo }}" alt="avatar" /> 
      {{ with .Site.Params.author }}<h3 class="profile__name">{{ . }}</h3>{{ end }} 
      {{ with .Site.Params.subtitle }}<p class="profile__desc">{{ . }}</p>{{ end }}
    </div>
    <ul class="nav-group show-on-medium-and-down menu ">
      {{ with .Site.Menus.main }} {{ range . }}
      <li>
        <a class="collapsible-header waves-effect waves-indigo" href="{{ $.Site.BaseURL }}{{ .URL }}">
          {{ .Pre | default ("<i class='material-icons'>bookmark</i>" | safeHTML ) }}
          <span class="content">{{ .Name | title }}</span>
          <i class="material-icons">chevron_right</i>
        </a>
      </li>
      {{end}} {{ end }}
    </ul>
    <ul class="nav-group show-on-small tools">
      <li>
        <a class="collapsible-header waves-effect waves-indigo modal-trigger" href='#modal-search'>
            <i class="material-icons">search</i>
            <span class="content">Search</span>
            <i class="material-icons">chevron_right</i>
          </a>
      </li>
      <li>
        <a class="collapsible-header waves-effect waves-indigo" target="_blank" href='{{ $.Site.RSSLink }}'>
            <i class="material-icons">rss_feed</i>
            <span class="content">RSS Feed</span>
            <i class="material-icons">chevron_right</i>
          </a>
      </li>
    </ul>
    <ul class="collapsible nav-group" data-collapsible="accordion">
      <li>
        <div class="collapsible-header waves-effect waves-indigo">
          <i class="material-icons">whatshot</i>
          <span class="content">Latest</span>
          <i class="material-icons angle">expand_more</i>
        </div>
        <div class="collapsible-body">
          <div class="collection">
            {{ range first 10 (where $.Site.Pages "Type" "post")}}
            <a class="collection-item" href="{{ .Permalink }}">{{ .Title }}</a> 
            {{ end }}
          </div>
        </div>
      </li>
      {{ with .Site.Menus.taxonomy }}{{ range . }}
      <li>
        <div class="collapsible-header waves-effect waves-indigo">
          <i class="material-icons">{{ .Pre | default ("<i class='material-icons'>folder</i>" | safeHTML ) }}</i>
          <span class="content">{{ .Name | title }} </span>
          <!-- | singularize | upper -->
          <i class="material-icons angle">expand_more</i>
        </div>
        <div class="collapsible-body">
          <div class="collection">
            {{ $key := .Identifier }}
            {{ $value := (index $.Site.Taxonomies .Identifier) }}
            {{ range $value.ByCount }}
            <a class="collection-item" href="{{$.Site.BaseURL}}/{{ $key }}/{{ .Name | urlize }}"> {{ .Name }}<span class="badge">{{ .Count }}</span></a>            
            {{ end }}
          </div>
        </div>
      </li>
      {{ end }}{{ end }}
    </ul>
    <ul class="nav-group external-link">
      {{ with .Site.Menus.social }} {{ range . }}
      <li>
        <a class="collapsible-header waves-effect waves-indigo" href="{{.URL}}" target="_blank">
          {{ .Pre | default ("<i class='material-icons'>language</i>" | safeHTML ) }}
          <span class="content">{{ .Name }}<small>{{ .Identifier }}</small></span>
          <i class="material-icons">chevron_right</i>
        </a>
      </li>
      {{ end }} {{ end }}
    </ul>
  </div>
</aside>