<div class="container container-ex">
  <div class="inner">
    {{ if not .IsHome }}
    {{ partial "breadcrumb.html" . }}
    {{ end }}
    <div class="waterfall">
      {{ $paginator := .Paginate (where .Data.Pages "Type" "posts") }} {{ range $paginator.Pages }}
      <div class="waterfall__item">
        <div class="card post post-summary reveal">
          <div class="card-header postinfo">
            <span class="card-title">
              <a href="{{ .Permalink }}">{{ .Title }} {{ if .Draft }}:: DRAFT{{end}}</a>
            </span>
            <div class="card-meta">
              <time>{{ .Date.Format $.Site.Params.dateFormat }}</time>
              {{ with .Params.categories }}
              <address>
                {{ range . }}
                <a href='{{$.Site.BaseURL}}/categories/{{ (replace . "#" "%23") | urlize }}'>{{ . }}</a>
                {{ end }}
              </address>
              {{ end }}
            </div>
          </div>

          <div class="card-content">
            <article class="article">
              {{.Summary }} {{ if .Truncated }}
              <a href="{{ .Permalink }}" class="readmore">阅读全文</a>
              {{ end }}
            </article>

          </div>

          {{with .Params.tags}}
          <div class="card-action card-action-links">{{ range . }}
            <a class="btn btn-secondary" href='{{ $.Site.BaseURL }}/tags/{{ (replace . "#" "%23") | urlize }}'>{{ . }}</a>{{ end }}
          </div>
          {{end}}
        </div>
      </div>
      {{ end }}
    </div>
    <div class="center">
      <div class="pagination">
        {{ $paginator := .Paginate (where .Data.Pages "Type" "posts") }} {{ template "_internal/pagination.html" . }}
      </div>
    </div>
  </div>
</div>