{{ partial "header.html" . }} {{partial "sidebar.html" .}}

<main id="index" role="main" class="main-panel">
  <section class="container main-container">
    <div class="waterfall">
      {{ $paginator := .Paginate (where .Data.Pages "Type" "post") }} {{ range $paginator.Pages }}
      <div class="waterfall__item">
        <div class="card post-summary">
          <div class="card-content">
            <span class="card-title"><a href="{{ .Permalink }}">{{ .Title }} {{ if .Draft }}:: DRAFT{{end}}</a></span>
            <span class="card-meta">
              <time>{{ .Date.Format " 2006-6-2" }}</time>
              <address>
                {{ range .Params.categories }}
                  <a href="{{$.Site.BaseURL}}/categories/{{ . | urlize }}">{{ . }}</a>
                {{ end }}
              </address>
            </span>
            <article class="article">{{.Summary }}...<a href="{{ .Permalink }}" style="border-bottom: none">Read More</a></article>
          </div>
          {{with .Params.tags}}
          <div class="card-action">
            <i class="material-icons">local_offer</i> {{ range . }}<a href="{{ $.Site.BaseURL }}/tags/{{ . | urlize }}">#{{ . }}</a>&nbsp;
            {{ end }}
          </div>
          {{end}}
        </div>
      </div>
      {{ end }}
    </div>
    <div class="center">
      <div class="pagination">
        {{ $paginator := .Paginate (where .Data.Pages "Type" "post") }} {{ template "_internal/pagination.html" . }}
      </div>
    </div>
  </section>
  {{ partial "footer.html" . }}
</main>