{{ partial "header.html" . }}
{{ partial "splash.html" . }}
<main id="index" role="main" class="main-panel">
  <section class="container main-container">
    <div class="inner">
      <div class="waterfall">
        {{ $paginator := .Paginate (where .Data.Pages "Type" "post") }} {{ range $paginator.Pages }}
        <div class="waterfall__item">
          <div class="card post post-summary reveal">
            <div class="card-content">
              <span class="card-title"><a href="{{ .Permalink }}">{{ .Title }} {{ if .Draft }}:: DRAFT{{end}}</a></span>
              <div class="card-meta">
                <time>{{ .Date.Format "Mon Jan 2 2006" }}</time>
                {{ with .Params.categories }}
                <address>
                  {{ range . }}
                    <a href="{{$.Site.BaseURL}}/categories/{{ . | urlize }}">{{ . }}</a>
                  {{ end }}
                </address>
                {{ end }}
              </div>
              <article class="article">
                {{.Summary }}
                <a href="{{ .Permalink }}" class="readmore">阅读全文</a>
              </article>
  
            </div>
          
            {{with .Params.tags}}
            <div class="card-action">
              {{ range . }}<a class="btn" href="{{ $.Site.BaseURL }}/tags/{{ . | urlize }}">{{ . }}</a>&nbsp;
              {{ end }}
            </div>
            {{end}}
          </div>
        </div>
        {{ end }}
      </div>
      <div class="center">
        <div class="pagination">
          {{ $paginator := .Paginate (where .Data.Pages "Type" "post") }} {{ template "_internal/pagination.html" . }}
        </div>
      </div>
    </div>
  </section>
  {{ partial "footer.html" . }}
</main>

{{partial "script.html" .}}