{{ partial "header.html" . }}
<main id="archive" role="main" class="main-panel">
  <section class="container container-ex">
    <div class="inner">
        <div class="no-toc">
      {{ partial "breadcrumb.html" . }}
        <ul class="collapsible popout reveal" data-collapsible="accordion">
          {{ $post := where (where $.Site.Pages "Type" "posts") "Kind" "page" }} {{ range $post.GroupByDate "01 - 2006" }}
          <li>
            <div class="collapsible-header">
              <i class="material-icons">history</i>
              <span>{{ .Key }}</span>
            </div>
            <div class="collapsible-body">
              <div class="collection">
                {{ range .Pages }}
                <a href="{{ .Permalink }}" class="collection-item">
                  {{ .Title }}
                </a>
                {{ end }}
              </div>
            </div>
          </li>
          {{ end }}
        </ul>
      </div>
      <div class="pagination"></div>
    </div>
  </section>
  {{ partialCached "footer.html" . }}
</main>
{{partialCached "script.html" .}}